

<h1>Clients</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th >Nom</th>
      <th >Email</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.email %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
