<h1>Magasins#index</h1>
<p>Find me in app/views/magasins/index.html.erb</p>

<h1>Magasins</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th >Nom du magasin</th>
      <th >Adresse du magasin</th>
  
    </tr>
  </thead>
  <tbody>
    <% @magasins.each do |e| %>
      <tr>
        <td><%= e.nom_magasin %></td>
        
        <td><%= e.adresse_magasin %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>