<h1>Magasin::Magasins#index</h1>
<p>Find me in app/views/magasin/magasins/index.html.erb</p>

<h4> Infomations of magasin </h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th >Nom du magasin</th>
      <th >Adresse du magasin</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @magasin.nom_magasin %></td>
        <td><%= @magasin.adresse_magasin %></td>
      </tr>
  </tbody>
</table>