<h1>Client#index</h1>
<p>Find me in app/views/client/index.html.erb</p>

<h4> Chercher les produits</h4>

  <div class="form-group">
    <%= select_tag(:city_id, '<option value=""></option>') %>
    <%= options_for_select([['Lisbon', 1], ['Madrid', 2]]) %>
     <% @produits.each do |p| %>
      <% end %>
    

  </div>



<table class="table table-bordered">
  <thead>
    <tr>
      <th >Nom du magasin</th>
      <th >Adresse du magasin</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>