<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
		<head>
			<title> Accueil </title>
			<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
			<link href="style.css" rel="stylesheet" media="all" type="text/css" title="style" />
		
		</head>
		
		<body>
			<nav>      
   					<ul>    
						   <li><a href="accueil.html.erb">Accueil</a></li>
						   <li><a href="">Gestion client</a></li>
						   <li><a href="">Gestion Produit</a></li>
					</ul>
						    
			</nav>
			<section id="description_magasin">
					<table>
						<h1>Magasin</h1>
						<tr><th>Nom</th> <td>Carrefour</td></tr>
						<tr><th>Adresse</th> <td>41 Rue Villeneuve, 92110 Clichy</td></tr>
					</table>
					
			</section>
			
		</body>
	</html>
