<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
		<head>
			<title> Gestion Produits </title>
			<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
			<link href="style.css" rel="stylesheet" media="all" type="text/css" title="style" />
		
		</head>
		
		<body>
			<nav id="menu_general">      
   					<ul>    
						   <li><a href="accueil.html.erb">Accueil</a></li>
						   <li><a href="gestionClient.html.erb">Gestion client</a></li>
						   <li><a href="gestionProduit.html.erb">Gestion Produit</a></li>
					</ul>
						    
			</nav>
		
			<p>Liste de produits : </p>			

			<section id="gestion_client">
					<table>
						<h1>Produits du magasin</h1>
						<tr><th>Nom</th> <th>Prix</th> <th>Type</th> <th>Source</th> <th></th></tr>
						<tr><td>pâtes fiorini</td> <td>0,96€</td> <td>féculents</td><td>Italie</td><td><input type="checkbox" name="supprimer_produit">Supprimer</td></tr>
					</table>
					
			</section>
			
		</body>
	</html>
